{# templates/form/editevent.html.twig #}

{% extends 'base.html.twig' %}

{% block title %} Modifier un évènement {% endblock %}

{% block body %}
<main class="container">
    <section class="row">
        <div class="col-12">
            <h1>Modifier un évènement</h1>
            {% include 'form/_event.html.twig' %}
        </div>

    </section>
</main>
{% endblock %}

